In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#call the resources
schools_csv = "schools_complete.csv"
students_csv = "students_complete.csv"

In [3]:
#Read the files
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [4]:
#show 5 rows of the school file
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#show 5 rows of the students file
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#merge the two files for District Summary, common column is School_name, then print 5 rows
schools_students_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
schools_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#District calculations
#Calculate the total number of schools
school_vol = len(schools_df["school_name"].unique())
school_vol

15

In [8]:
#Calculate the total number of students
student_vol = len(students_df["Student ID"].unique())
student_vol

39170

In [9]:
#Calculate the total budget
budget_vol = (schools_df["budget"].sum())
budget_vol

24649428

In [10]:
#Calculate the average math score 
avg_math = students_df["math_score"].mean()
avg_math

78.98537145774827

In [11]:
#Calculate the average reading score
avg_read = students_df["reading_score"].mean()
avg_read

81.87784018381414

In [12]:

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_passing = (avg_math + avg_read)/2
avg_passing

80.43160582078121

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_df["#perc_math_score"] = students_df["math_score"] >=70

percent_passing_math =((students_df["#perc_math_score"]).mean())*100
percent_passing_math

74.9808526933878

In [14]:

#Calculate the percentage of students with a passing reading score (70 or greater)
students_df["#perc_read_score"] = students_df["reading_score"] >=70
percent_passing_reading =((students_df["#perc_read_score"]).mean())*100
percent_passing_reading

85.80546336482001

In [15]:
#District Summary Results
district_sum = [{
    "Total Schools": school_vol, 
    "Total Students": student_vol, 
    "Total Budget": budget_vol, 
    "Average Math Score": round(avg_math,2), 
    "Average Reading Score": round(avg_read,2), 
    "% Passing Math (70 or Greater)": round(percent_passing_math,6), 
    "% Passing Reading (70 or Greater)": round(percent_passing_reading,6),
    "Overall Passing Rate": round(avg_passing,2) 
}]

district_summary_df = pd.DataFrame(district_sum)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math (70 or Greater),% Passing Reading (70 or Greater),Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.980853,85.805463,80.43

In [16]:
#format results
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["% Passing Math (70 or Greater)"] = district_summary_df["% Passing Math (70 or Greater)"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading (70 or Greater)"] = district_summary_df["% Passing Reading (70 or Greater)"].map("{:,.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math (70 or Greater),% Passing Reading (70 or Greater),Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,80.43

In [17]:
#Calculation for passing reading and math to be used in the School Summary
schools_students_df["percent_passing_reading"] = students_df["reading_score"] >=70
schools_students_df["percent_passing_math"] = students_df["math_score"] >=70
schools_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,percent_passing_reading,percent_passing_math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True

In [18]:
#groupby for school summary
#School Name
groupby_school = schools_students_df.groupby(["school_name"]).mean()
#create new columns and calculations for the new columns
#Per Student Budget
groupby_school["Per Student Budget"] = groupby_school["budget"]/groupby_school["size"]
#Passing Math
groupby_school["% Passing Math"] = round(groupby_school["percent_passing_math"]*100,2)
#Passing Reading
groupby_school["% Passing Reading"] = round(groupby_school["percent_passing_reading"]*100,2)
#Overall Passing Rate (Average of the above two)
groupby_school["% Overall Passing Rate"] = round(((groupby_school ["percent_passing_math"] + groupby_school["percent_passing_reading"])/2)*100,3)
groupby_school.head()

,Student ID,reading_score,math_score,School ID,size,budget,percent_passing_reading,percent_passing_math,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.819333,0.666801,628.0,66.68,81.93,74.307
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.970398,0.941335,582.0,94.13,97.04,95.587
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.807392,0.659885,639.0,65.99,80.74,73.364
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.792990,0.683096,644.0,68.31,79.30,73.804
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.971390,0.933924,625.0,93.39,97.14,95.266

In [19]:
#Merge groupby_school and schools_df to get the missing columns back
school_summary = pd.merge(groupby_school, schools_df, how="left", on=["school_name", "school_name"]) 

school_summary.head()

,school_name,Student ID,reading_score,math_score,School ID_x,size_x,budget_x,percent_passing_reading,percent_passing_math,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,School ID_y,type,size_y,budget_y
0,Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.819333,0.666801,628.0,66.68,81.93,74.307,7,District,4976,3124928
1,Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.970398,0.941335,582.0,94.13,97.04,95.587,6,Charter,1858,1081356
2,Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.807392,0.659885,639.0,65.99,80.74,73.364,1,District,2949,1884411
3,Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.792990,0.683096,644.0,68.31,79.30,73.804,13,District,2739,1763916
4,Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.971390,0.933924,625.0,93.39,97.14,95.266,4,Charter,1468,917500

In [20]:
#delete the irrelevant columns
del school_summary["Student ID"]
del school_summary["size_y"]
del school_summary["budget_y"]
del school_summary["School ID_y"]

#Create the data frame, identify/rename columns and format results
#School Type
#Total Students
#Total School Budget
#Average Math Score
#Average Reading Score
school_overview_df = pd.DataFrame ({"School Name": school_summary["school_name"], 
                                      "School Type": school_summary["type"], 
                                      "Total Students": school_summary["size_x"].map("{:,.0f}".format), 
                                      "Total School Budget": school_summary["budget_x"].map("{:,.0f}".format),
                                     "Per Student Budget": school_summary["Per Student Budget"].map("${:,.0f}".format),
                                     "Average Math Score": round(school_summary["math_score"],2),
                                     "Average Reading Score": round(school_summary["reading_score"],2),
                                     "% Passing Math": school_summary["% Passing Math"],
                                     "% Passing Reading": school_summary["% Passing Reading"],
                                     "Overall Passing Rate": round(school_summary["% Overall Passing Rate"],2)})
school_overview_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Bailey High School,District,"4,976","3,124,928",$628,77.05,81.03,66.68,81.93,74.31
1,Cabrera High School,Charter,"1,858","1,081,356",$582,83.06,83.98,94.13,97.04,95.59
2,Figueroa High School,District,"2,949","1,884,411",$639,76.71,81.16,65.99,80.74,73.36
3,Ford High School,District,"2,739","1,763,916",$644,77.10,80.75,68.31,79.30,73.80
4,Griffin High School,Charter,"1,468","917,500",$625,83.35,83.82,93.39,97.14,95.27
5,Hernandez High School,District,"4,635","3,022,020",$652,77.29,80.93,66.75,80.86,73.81
6,Holden High School,Charter,427,"248,087",$581,83.80,83.81,92.51,96.25,94.38
7,Huang High School,District,"2,917","1,910,635",$655,76.63,81.18,65.68,81.32,73.50
8,Johnson High School,District,"4,761","3,094,650",$650,77.07,80.97,66.06,81.22,73.64
9,Pena High School,Charter,962,"585,858",$609,83.84,84.04,94.59,95.95,95.27
10,Rodriguez High School,District,"3,999","2,547,363",$637,76.84,80.74,66.37,80.22,73.29
11,Shelton High School,Charter,"1,761","1,056,600",$600,83.36,83.73,93.87,95.85,94.86
12,Thomas High School,Charter,"1,635","1,043,130",$638,83.42,83.85,93.27,97.31,95.29
13,Wilson High School,Charter,"2,283","1,319,574",$578,83.27,83.99,93.87,96.54,95.20
14,Wright High School,Charter,"1,800","1,049,400",$583,83.68,83.96,93.33,96.61,94.97

In [21]:
#Top Performing schools (by passing rate), then sort and display the top five schools in overall passing rate
top_five = school_overview_df.sort_values(["Overall Passing Rate"], ascending=False)
top_five.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
1,Cabrera High School,Charter,"1,858","1,081,356",$582,83.06,83.98,94.13,97.04,95.59
12,Thomas High School,Charter,"1,635","1,043,130",$638,83.42,83.85,93.27,97.31,95.29
4,Griffin High School,Charter,"1,468","917,500",$625,83.35,83.82,93.39,97.14,95.27
9,Pena High School,Charter,962,"585,858",$609,83.84,84.04,94.59,95.95,95.27
13,Wilson High School,Charter,"2,283","1,319,574",$578,83.27,83.99,93.87,96.54,95.20

In [22]:
#Bottom Performing schools (by passing rate), then sort and display the five worst performing schools

worst_five = school_overview_df.sort_values(["Overall Passing Rate"], ascending=True)
worst_five.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
10,Rodriguez High School,District,"3,999","2,547,363",$637,76.84,80.74,66.37,80.22,73.29
2,Figueroa High School,District,"2,949","1,884,411",$639,76.71,81.16,65.99,80.74,73.36
7,Huang High School,District,"2,917","1,910,635",$655,76.63,81.18,65.68,81.32,73.50
8,Johnson High School,District,"4,761","3,094,650",$650,77.07,80.97,66.06,81.22,73.64
3,Ford High School,District,"2,739","1,763,916",$644,77.10,80.75,68.31,79.30,73.80

In [23]:
#Create a table that lists the average Math Scores for students in each grad leavel at each school
nineth_grade= schools_students_df[schools_students_df["grade"] == "9th"].groupby("school_name").mean() ["math_score"]
tenth_grade= schools_students_df[schools_students_df["grade"] == "10th"].groupby("school_name").mean() ["math_score"]
eleventh_grade= schools_students_df[schools_students_df["grade"] == "11th"].groupby("school_name").mean() ["math_score"]
twelveth_grade= schools_students_df[schools_students_df["grade"] == "12th"].groupby("school_name").mean() ["math_score"]
#create a df to store the results
math_by_grades = pd.DataFrame({"Nineth Grade":nineth_grade, "Tenth Grade":tenth_grade, "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})
                               
math_by_grades

,Nineth Grade,Tenth Grade,Eleventh Grade,Twelveth Grade
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [27]:
#Create a table that lists the average Reading Scores for students in each grad leavel at each school
nineth_grade= schools_students_df[schools_students_df["grade"] == "9th"].groupby("school_name").mean() ["reading_score"]
tenth_grade= schools_students_df[schools_students_df["grade"] == "10th"].groupby("school_name").mean() ["reading_score"]
eleventh_grade= schools_students_df[schools_students_df["grade"] == "11th"].groupby("school_name").mean() ["reading_score"]
twelveth_grade= schools_students_df[schools_students_df["grade"] == "12th"].groupby("school_name").mean() ["reading_score"]
#create a df to store the results
reading_by_grades = pd.DataFrame({"Nineth Grade":nineth_grade, "Tenth Grade":tenth_grade, "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})
                               
reading_by_grades

,Nineth Grade,Tenth Grade,Eleventh Grade,Twelveth Grade
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [40]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. 
spending_bins = [0, 500, 575, 600, 675]
bucket_names = ["0-500", "500-575", "575-600", "600-675"]

#Cut in to buckets
school_summary["Spending Ranges(Per Student)"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=bucket_names)

scores_by_school_spending = school_summary.groupby("Spending Ranges(Per Student)").mean()

#delete irrelevant columns that cause the dup error
del scores_by_school_spending["size_x"]
del scores_by_school_spending["budget_x"]
del scores_by_school_spending["Per Student Budget"]
del scores_by_school_spending["School ID_x"]
del scores_by_school_spending["percent_passing_math"]
del scores_by_school_spending["percent_passing_reading"]

scores_by_school_spending

,reading_score,math_score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges(Per Student),,,,,
0-500,NaN,NaN,NaN,NaN,NaN
500-575,NaN,NaN,NaN,NaN,NaN
575-600,83.892196,83.43621,93.542,96.458,95.0006
600-675,81.847684,78.93069,74.709,85.599,80.1543

In [42]:
school_summary

,school_name,reading_score,math_score,School ID_x,size_x,budget_x,percent_passing_reading,percent_passing_math,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate,type,Spending Ranges (Per Student),Spending Ranges(Per Student),School Size
0,Bailey High School,81.033963,77.048432,7.0,4976.0,3124928.0,0.819333,0.666801,628.0,66.68,81.93,74.307,District,600-700,600-675,NaN
1,Cabrera High School,83.975780,83.061895,6.0,1858.0,1081356.0,0.970398,0.941335,582.0,94.13,97.04,95.587,Charter,500-600,575-600,NaN
2,Figueroa High School,81.158020,76.711767,1.0,2949.0,1884411.0,0.807392,0.659885,639.0,65.99,80.74,73.364,District,600-700,600-675,NaN
3,Ford High School,80.746258,77.102592,13.0,2739.0,1763916.0,0.792990,0.683096,644.0,68.31,79.30,73.804,District,600-700,600-675,NaN
4,Griffin High School,83.816757,83.351499,4.0,1468.0,917500.0,0.971390,0.933924,625.0,93.39,97.14,95.266,Charter,600-700,600-675,NaN
5,Hernandez High School,80.934412,77.289752,3.0,4635.0,3022020.0,0.808630,0.667530,652.0,66.75,80.86,73.808,District,600-700,600-675,NaN
6,Holden High School,83.814988,83.803279,8.0,427.0,248087.0,0.962529,0.925059,581.0,92.51,96.25,94.379,Charter,500-600,575-600,0-500
7,Huang High School,81.182722,76.629414,0.0,2917.0,1910635.0,0.813164,0.656839,655.0,65.68,81.32,73.500,District,600-700,600-675,NaN
8,Johnson High School,80.966394,77.072464,12.0,4761.0,3094650.0,0.812224,0.660576,650.0,66.06,81.22,73.640,District,600-700,600-675,NaN
9,Pena High School,84.044699,83.839917,9.0,962.0,585858.0,0.959459,0.945946,609.0,94.59,95.95,95.270,Charter,600-700,600-675,NaN
10,Rodriguez High School,80.744686,76.842711,11.0,3999.0,2547363.0,0.802201,0.663666,637.0,66.37,80.22,73.293,District,600-700,600-675,NaN
11,Shelton High School,83.725724,83.359455,2.0,1761.0,1056600.0,0.958546,0.938671,600.0,93.87,95.85,94.861,Charter,500-600,575-600,NaN
12,Thomas High School,83.848930,83.418349,14.0,1635.0,1043130.0,0.973089,0.932722,638.0,93.27,97.31,95.291,Charter,600-700,600-675,NaN
13,Wilson High School,83.989488,83.274201,5.0,2283.0,1319574.0,0.965396,0.938677,578.0,93.87,96.54,95.204,Charter,500-600,575-600,NaN
14,Wright High School,83.955000,83.682222,10.0,1800.0,1049400.0,0.966111,0.933333,583.0,93.33,96.61,94.972,Charter,500-600,575-600,NaN

In [47]:
#Scores by School Size
#Perform the same operations as above, based on school size.
size_bins = [0, 2000, 3500, 5000]
bucket_names = ["Small (<2000)", "Medium (2000 to 3500)", "Large (3500 to 5000)"]

#Cut in to buckets
school_summary["School Size"] = pd.cut(school_summary["size_x"], size_bins, labels=bucket_names)

scores_by_school_size = school_summary.groupby("School Size").mean()

#delete irrelevant columns that cause the dup error

del scores_by_school_size["budget_x"]
del scores_by_school_size["Per Student Budget"]
del scores_by_school_size["School ID_x"]
del scores_by_school_size["percent_passing_math"]
del scores_by_school_size["percent_passing_reading"]



scores_by_school_size

,reading_score,math_score,size_x,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,,
Small (<2000),83.883125,83.502373,1415.857143,93.584286,96.592857,95.089429
Medium (2000 to 3500),81.769122,78.429493,2722.000000,73.462500,84.475000,78.968000
Large (3500 to 5000),80.919864,77.063340,4592.750000,66.465000,81.057500,73.762000

In [49]:
#Scores by School Type
#Perform the same operations as above, based on school type.

scores_by_school_type = school_summary.groupby("type").mean()

#delete irrelevant columns that cause the dup error
del scores_by_school_type["size_x"]
del scores_by_school_type["budget_x"]
del scores_by_school_type["Per Student Budget"]
del scores_by_school_type["School ID_x"]
del scores_by_school_type["percent_passing_math"]
del scores_by_school_type["percent_passing_reading"]



scores_by_school_type

,reading_score,math_score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.896421,83.473852,93.620000,96.586250,95.103750
District,80.966636,76.956733,66.548571,80.798571,73.673714

In [ ]:
#Final Observation: 
#Charter shools achieved better reading and math scores. Charter schools had an overall passing rate of 95% and District schools had an overall passing rate of 74%.
#The top five performing shools were Charter schools and the worst five performing schools were District schools.
#The smaller size schools achieved better scores.