In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#call the resources
schools_csv = "schools_complete.csv"
students_csv = "students_complete.csv"

In [3]:
#Read the files
schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

In [4]:
#show 5 rows of the school file
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#show 5 rows of the students file
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#merge the two files for District Summary, common column is School_name, then print 5 rows
schools_students_df = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
schools_students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
#District calculations
#Calculate the total number of schools
school_vol = len(schools_df["school_name"].unique())
school_vol

15

In [8]:
#Calculate the total number of students
student_vol = len(students_df["student_name"].unique())
student_vol

32715

In [9]:
#Calculate the total budget
budget_vol = (schools_df["budget"].sum())
budget_vol

24649428

In [10]:
#Calculate the average math score 
avg_math = students_df["math_score"].mean()
avg_math

78.98537145774827

In [11]:
#Calculate the average reading score
avg_read = students_df["reading_score"].mean()
avg_read

81.87784018381414

In [12]:

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
avg_passing = (avg_math + avg_read)/2
avg_passing

80.43160582078121

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_df["#perc_math_score"] = students_df["math_score"] >=70

percent_passing_math =((students_df["#perc_math_score"]).mean())*100
percent_passing_math

74.9808526933878

In [14]:

#Calculate the percentage of students with a passing reading score (70 or greater)
students_df["#perc_read_score"] = students_df["reading_score"] >=70
percent_passing_reading =((students_df["#perc_read_score"]).mean())*100
percent_passing_reading

85.80546336482001

In [15]:
#District Summary Results
district_sum = [{
    "Total Schools": school_vol, 
    "Total Students": student_vol, 
    "Total Budget": budget_vol, 
    "Average Math Score": round(avg_math,2), 
    "Average Reading Score": round(avg_read,2), 
    "% Passing Math (70 or Greater)": round(percent_passing_math,6), 
    "% Passing Reading (70 or Greater)": round(percent_passing_reading,6),
    "Overall Passing Rate": round(avg_passing,2) 
}]

district_summary_df = pd.DataFrame(district_sum)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math (70 or Greater),% Passing Reading (70 or Greater),Overall Passing Rate
0,15,32715,24649428,78.99,81.88,74.980853,85.805463,80.43

In [16]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["% Passing Math (70 or Greater)"] = district_summary_df["% Passing Math (70 or Greater)"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading (70 or Greater)"] = district_summary_df["% Passing Reading (70 or Greater)"].map("{:,.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math (70 or Greater),% Passing Reading (70 or Greater),Overall Passing Rate
0,15,32715,"$24,649,428.00",78.99,81.88,74.98%,85.81%,80.43

In [18]:
#School Summary, Create a data frame to hold the results  
#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#Passing Math
#Passing Reading
#Overall Passing Rate (Average of the above two)

schools_students_df["percent_passing_reading"] = students_df["reading_score"] >=70
schools_students_df["percent_passing_math"] = students_df["math_score"] >=70

school_sum_grp = schools_students_df.groupby(["school_name"]).mean()

In [ ]:
#Top Performing schools (by passing rate), then sort and display the top five schools in overall passing rate

In [ ]:
#Bottom Performing schools (by passing rate), then sort and display the five worst performing schools

In [ ]:
#Math Scores by Grade
#Create a dataframe
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

In [ ]:
#Read Scores by Grade(Perform the same operations as above for reading scores)
#Create a dataframe
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
#Group each series by school
#Combine the series into a dataframe
#Optional: give the displayed data cleaner formatting

In [ ]:
#Scores by School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). 
#Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

In [ ]:
#Scores by School Size
#Perform the same operations as above, based on school size.

In [ ]:
#Scores by School Type
#Perform the same operations as above, based on school type.